<!-- MAIN TEMPLATE -->
<script id="main" type="text/html">
	{{> header}}
	<section class="container" role="main">
		{{# noGroups }}
			{{> loginProcess}}
	</section>
		{{/ noGroups}}
		{{^ noGroups }}	
			{{> navigation}}
			{{> content}}		
	</section>
			{{> footer}}
		{{/ noGroups}}		
</script>

<!-- LOGIN PROCESS TEMPLATE -->
<script id="loginProcess" type="text/html">
<!-- Name group container -->
<section class="container login login-name" role="main" style="">
	<p>Welcome to {{appName}} - set up your first group to start tracking</p>
	<div class="data-block">
		<form>
			<fieldset>
				<div class="control-group">
					<label class="control-label" for="input">Name your first group:</label>
					<div class="controls">
						<input id="input" class="input-xlarge" type="text">
						<p class="help-block">Enter something simple like "Roommates"</p>
					</div>
				</div>
				<div class="control-group">
					<button id="nameGroup" class="btn btn-success btn-large pull-right">Next step</button>
				</div>
			</fieldset>				
		</form>
	</div>

</section>
<!-- /Name group container -->

<!-- Add people group container -->
<section class="container login login-invite" role="main" style="display:none;">
	
	<h1>xpense</h1>
	<div class="data-block">
		<form>
			<fieldset>
				<div class="control-group">
					<label class="control-label" for="input">Add people to split purchases with:</label>
					<div class="controls">
						<input id="addFriends" class="input-xlarge" type="text">
						<p class="help-block">Add your friends emails (hit enter to add)</p>
					</div>
				</div>
				<div class="control-group">
					<!-- tags -->
				<div class="control-group">
					<button target="index.html" class="btn btn-success btn-large pull-right">Start tracking</button>
				</div>
			</fieldset>				
		</form>
	</div>
	
</section>
</script>

<!-- HEADER TEMPLATE -->
<script id="header" type="text/html">
<!-- Main page header -->
<header class="container">
	<h1>{{appName}}</h1>
	<p>easily buy things with people you know</p>
	<!-- Alternative navigation -->
	<nav>
		<ul>
			<li>
				<div class="btn-group">
					<a class="btn dropdown-toggle" data-toggle="dropdown" href="index.html#">
						Settings
						<span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<li><a href="#settings" id="userSettings"><span class="awe-lock"></span>Settings</a></li>
						<li><a href="/logout" id="logout"><span class="awe-remove"></span>Logout</a></li>
					</ul>
				</div>
			</li>
		</ul>
	</nav>
	<!-- /Alternative navigation -->
</header>
<!-- /Main page header -->
</script>

<script id="singleGroup" type="text/html">
	<li><a id="{{_id}}">{{name}} : <strong> ${{owed}} </strong></a></li>
</script>

<!-- NAVIGATION TEMPLATE -->
<script id="navigation" type="text/html">

<!-- Left (navigation) side -->
		<div class="navigation-block">
		
			<!-- User profile -->
			<section class="user-profile">
				<figure>
					<img alt="avatar" src="{{user.avatarUrl}}">
					<figcaption>
						<h2 style="margin-top:15px;">{{user.name}}</h2>
					</figcaption>
				</figure>
			</section>
			<!-- /User profile -->

			<section class="balance">
				<h2>In total you owe</h2>
				<strong>$ {{user.owing}}</strong>
			</section>

			<!-- Main navigation -->
			<nav class="main-navigation" role="navigation">
 
				<h4>Your Groups</h4>
				<ul class="yourGroups">
					{{#groups}}
						{{>singleGroup}}
					{{/groups}}
				</ul>

				<br/>
				<a href="#newGroupModal" data-toggle="modal" class="btn btn-success" href="#"> + New expense group</a>

				<div id="newGroupModal" class="modal fade hide" tabindex="-1" role="dialog">
				 <form class="form-horizontal">
					<fieldset>
						<div class="alert alert-success">
							<strong>Create a new expense group</strong>
						</div>
						<div class="control-group">
							<label class="control-label" for="input4">Name your group</label>
							<div class="controls">
								<input id="groupName" class="input span3" type="text">
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="input4">Add or invite friends</label>
							<div class="controls">
								<input id="addFriends" class="input span3" type="text">
								<p class="help-block">Type your friends email and press enter</p>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="input4">Invited friends</label>
							<div class="controls">
								<ul class="invitedFriends">
								</ul>
							</div>
						</div>

						<div class="form-actions pull-right">
							<button id="createGroup" class="btn btn-alt btn-primary btn-large" type="submit">Create Group</button>
							<button class="btn btn-alt btn-large">Cancel</button>
						</div>
					</fieldset>
				</form>					 
				</div>

			</nav>
			<!-- /Main navigation -->
		</div>
		<!-- Left (navigation) side -->
</script>

<script id="userBadge" type="text/html">

</script>

<!-- CONTENT (RIGHT SIDE) TEMPLATE -->
<script id="content" type="text/html">
<!-- Right (content) side -->
<div id="contentBlock" class="content-block" role="main">

	<!-- Page header -->
	<article class="page-header">
		<h1>Roomates</h1>
		
		<a class="" href="#"> + Add a member</a>

		<p class="pull-right">Add things you buy for this group, easily split payments up, and get paid.</p>
		<div class="group-members">
			<img alt="avatar" src="/img/assets/facebook-profile.png">
			<img alt="avatar" src="/img/assets/facebook-profile.png">
			<img alt="avatar" src="/img/assets/facebook-profile.png">

		</div>

		<a class="btn btn-success btn-large pull-right" href="#expenseModal" data-toggle="modal">Add expense</a>

		<div id="expenseModal" class="modal fade hide" tabindex="-1" role="dialog">
		 <form class="form-horizontal">
			<fieldset>
				<div class="alert alert-success">
					<strong>Create a new expense</strong>
				</div>
				<div class="control-group">
					<label class="control-label" for="input4">What did you buy?</label>
					<div class="controls">
						<input id="whatDidYouBuy" class="input span3" type="text">
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="input4">How much did you spend?</label>
					<div class="controls">
						<div class="input-prepend">
							<span class="add-on">$</span><input id="costOfExpense" class="input span1" type="text">
						</div>
					</div>
				</div>

				<div class="control-group span3">
					<h4>Who bought it?</h4>
					<div id="whoBought" class="btn-group" data-toggle="buttons-radio">
					  <button type="button" class="btn btn-large btn-primary active">I did!</button>
					  <button type="button" class="btn btn-large btn-primary">Person 2</button>
					  <button type="button" class="btn btn-large btn-primary">Person 3</button>
					</div>
				</div>
				<div class="control-group span3">
					<h4>Who is pitching in?</h4>

					<div id="whoIsPitching" class="btn-group" data-toggle="buttons-checkbox">
					  <button type="button" class="btn btn-large btn-primary active">Me</button>
					  <button type="button" class="btn btn-large btn-primary active">Person 2</button>
					  <button type="button" class="btn btn-large btn-primary active">Person 3</button>
					</div>

				</div>

				<div style="clear:both;"></div>

				<div class="control-group">
					<label class="checkbox">
				      <input type="checkbox" checked="checked"> Email everyone an easy payment link - <a href="#">click to see a sample of what we will send</a>
				    </label>
				</div>
				<div class="form-actions pull-right">
					<button id="createExpense" class="btn btn-alt btn-primary btn-large" type="submit">Submit Expense</button>
					<button class="btn btn-alt btn-large">Cancel</button>
				</div>
			</fieldset>
		</form>					 
		</div>

	</article>
	<!-- /Page header -->
	
	<!-- Grid row -->
	<div id="expenses" class="row">

		{{#expenses}}
			{{>expense}}
		{{/expenses}}
	
	</div>
	<!-- /Grid row -->
	
</div>
<!-- /Right (content) side -->
</script>

<!-- INDIVIDUAL EXPENSE TEMPLATE -->
<script id="expense" type="text/html">
<article class="span12 data-block">
	<div class="data-container">
		<header>
			<h2>{{purchase}} - ${{cost}}</h2>
			<ul class="data-header-actions">
				<li>						
					<p class="alert-error">You owe $50 for this expense</p>
					<br/>
					<a class="btn btn-large btn-danger pull-right" href="#">Pay your share</a>
				</li>
			</ul>
			<br/><br/>
			<button type="button" class="btn btn-danger" data-toggle="collapse" data-target="#details">Details</button>
		</header>
		<section>
			<div id="details" class="collapse out"> 
				<div class="row">
					<div class="span4">
						<h3>Bought by</h3>

						<div class="alert alert-success facebook-friend">
							<img alt="avatar" src="http://placekitten.com/60/60">
							<h2 class="pull-right">Andrei Pop - $50</h2>
						</div>	
					</div>
					<div class="span8">
						<h3>Owed</h3>
						
						<div class="alert alert-success facebook-friend">
							<img alt="avatar" src="http://placekitten.com/60/60">
							<h2 class="pull-right">Rob ODwyer - $50</h2>
						</div>		

						<div class="alert alert-error facebook-friend">
							<img alt="avatar" src="http://placekitten.com/60/60">
							<h2 class="pull-right">Fred Flinstone - $50</h2>
						</div>	
					</div>
				</div>
			<br/>
			<a class="btn btn-alt btn-danger" href="#" onclick="confirm('Are you sure you want to delete this expense?')">Remove expense</a> </div>
		</section>
	</div>
		</article>
</script>

<!--  CONFIRM PAYMENT TEMPLATE -->
<script id="confirmPayment" type="text/html">
<div id="confirm" class="row-fluid">
	<br/>
	<div class="span10 offset1">
		<h3>You are about to pay your <strong>$150</strong> share for <strong>hookers and blow</strong> which <strong>Rob</strong> bought on Oct 31st, 2012. The total was $450. This is who else is pitching in on this:</h3>
	<div class="group-members">
		<img alt="John Pixel avatar" src="http://placekitten.com/50/50">
		<img alt="John Pixel avatar" src="http://placekitten.com/50/50">
		<img alt="John Pixel avatar" src="http://placekitten.com/50/50">
	</div>
		<hr>
		<button class="btn btn-large btn-primary" type="submit">Confirm and Pay</button>
	</div>
</div>
</script>

<!-- SETTINGS TEMPLATE -->
<script id="settings" type="text/html">
	<div id="settings" class="row-fluid">
		<br/>
		<div class="span6">
			<form>
				<fieldset>
					<div class="control-group">
						<label class="control-label" for="input">Email address</label>
						<div class="controls">
							<input id="input" class="input-xlarge" type="text" value="{{email}}">
							<p class="help-block">Change the email address we send you payments to</p>
						</div>
					</div>
					<div class="form-actions">
						<button class="btn btn-alt btn-large btn-primary" type="submit">Save changes</button>
					</div>
				</fieldset>
			</form>
		</div>
	</div>
</script>

<!-- FOOTER TEMPLATE -->
<script id="footer" type="text/html">
<footer class="container">
	<p></p>
	<ul>
		<li><a href="mailto:andreimpop@gmail.com" class="">Support</a></li>
	</ul>
	<a href="#top" class="btn btn-flat pull-right">Top &uarr;</a>
</footer>
</script>

