<script id="fbLogin" type="text/html">

<!-- Login with fb page container -->
<section class="container login login-fb" role="main">
	
	<h1>SettleApp</h1>
	<div class="data-block">
		<a id="fbLogin" class="btn btn-success btn-large" style="width:92%;"><i class="icon-white icon-thumbs-up"></i> Login With Facebook</a>
	</div>
	<h3>What is SettleApp?</h3>
	SettleApp lets you easily buy things with people you know. With SettleApp you can buy items for everyone, track who bought what, and easily pay each other back.

	<br/><br/>

	<hr>

	<p class="pull-left" style="margin-top:4px;">Help us win the node  hackathon!</p>
	<iframe class="pull-right" src="http://nodeknockout.com/iframe/i-dont-node" frameborder=0 scrolling=no allowtransparency=true width=115 height=25>
</iframe>

</section>
<!-- /Login with fb page container -->

</script>