<script id="fbLogin" type="text/html">

<!-- Login with fb page container -->
<section class="container login login-fb" role="main">
	
	<h1>SettleApp</h1>
	<div class="data-block">
		<a id="fbLogin" class="btn btn-success btn-large" style="width:92%;"><i class="icon-white icon-thumbs-up"></i> Login With Facebook</a>
	</div>
	<h3>What is SettleApp?</h3>
	SettleApp lets you easily buy things with people you know. With SettleApp you can buy items for everyone, track who bought what, and easily pay each other back.

	<br/><br/>

	<hr>

	<div style="text-align:center;">

	<a href="https://twitter.com/share" class="twitter-share-button" data-text="Check out SettleApp.me" style="margin-top:5px;">Tweet</a>

	<div class="fb-like" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false" data-action="recommend"></div>

	</div>

</section>
<!-- /Login with fb page container -->

</script>
