<script id="fbLogin" type="text/html">

<section class="container login login-fb" role="main">
	
	<h1>SettleApp</h1>
	<div class="data-block">
		<a id="fbLogin" class="btn btn-success btn-large" style="width:92%;"><i class="icon-white icon-thumbs-up"></i> Login With Facebook</a>
	</div>
	<h3>What is SettleApp?</h3>
	SettleApp lets you easily buy things with people you know. With SettleApp you can buy items for everyone, track who bought what, and easily pay each other back.

	<br/><br/>

	<hr>

	<div style="text-align:center;">

		<div class="addthis_toolbox addthis_default_style ">
		<a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
		<a class="addthis_button_tweet"></a>
		<a class="addthis_counter addthis_pill_style"></a>
		</div>
		<script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
		<script type="text/javascript" src="http://s7.addthis.com/js/300/addthis_widget.js#pubid=ra-50a2d7fe388aa85c"></script>

	</div>

</section>

</script>
